</div>
<footer class="py-3 bg-white fixed-bottom">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Trova negozi</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Info consumatori</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Privacy</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQ</a></li>
    </ul>
    <p class="text-center text-body-secondary">© Copyright 2024 </p>
  </footer>

</main>
</body>
</html>